<!-- Fire Video -->
<div class="banner-control">
    <div class="text-container">
        <div class="beyond-belief">
            <div style="width: 450px; margin-left: 100px;">
                <h4>Beyond belief is Certainty.</h4>
                <p class="text">
                    To go beyond certainty means we're willing to let go of our death grip 
                    on certain ideas and let in the possibility that there might be other 
                    ways of looking at things - no matter what they are.
                </p>
            </div>
        </div>
        <div class="own-nothing">
            <h4>Control Everything Own Nothing!!</h4>
        </div>

        <video autoplay muted loop class="video">
            <source class="video" src="{{ url_for('static', filename='img/fire.mp4') }}" type="video/mp4">
        </video>
    </div>
</div>